<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

		<targets>
			<target xsi:type="File" name="fileforlog" fileName="C:\files\fileforlog.txt"
			layout="${longdate} ${level} ${message}" />
		</targets>

		<rules>
			<logger name="*" minlevel="Info" writeTo="fileforlog" />
		</rules>
		<internalLogFile value="C:\files\nlog-internal.log" internalLogLevel="Trace" />
	</nlog>
	
</configuration>
